* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14pt;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
	background: #00b08a;
}

.wrap {
	min-width: 50vw;
	min-height: 50vh;
	margin: auto;
	display: flex;
	align-items: center;
}

.container {
	min-width: 50vw;
	min-height: 50vh;
	left: 3rem;
	bottom: 3rem;
	position: fixed;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 1rem 0.75rem;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.container > * {
	margin: 0 auto;
}

#cityInput {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

#cityLabel {
	text-align: left;
}

#btn {
	width: 100%;
	background-color: lightblue;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

#description,
#audioPlayer {
	display: none;
}

#description {
	padding: 1.25rem;
	border-bottom: 1px solid #eee;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

h1 {
	font-size: 1.15em;
	margin: 0.5rem auto;
}

#weather {
	margin: 30px auto;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	text-align: center;
	padding: 12px;
	background: #111;
	color: #fff;
}

footer a {
	color: rgb(166, 252, 252);
}
