* {
	margin: 0;
	padding: 0;
	font-size: 16pt;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
	background-color: #00b08a;
}

.wrap {
	width: 50vw;
  height: 50vh;
	margin: auto;
	display: flex;
	align-items: center;
}

.container {
	width: 50%;
	left: 3rem;
	bottom: 3rem;
	position: fixed;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 1.25rem;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
}

#city {
	width: 80%;
	padding: 10px;
	border-radius: 5px;
}

#btn {
	border: 1px solid #ccc;
	background-color: lightblue;
	border-radius: 5px;
	padding: 10px;
}

#description, #audio {
	display: none;
}