* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16pt;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
	background: #00b08a;
}

.wrap {
	width: 50vw;
  height: 50vh;
	margin: auto;
	display: flex;
	align-items: center;
}

.container {
	width: 50%;
	left: 3rem;
	bottom: 3rem;
	position: fixed;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 0.75rem;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
}

.container > * {
	margin: auto;
}

#cityInput {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

#cityLabel {
	text-align: left;
}

#btn {
	width: 100%;
	background-color: lightblue;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

#description, #audio {
	display: none;
}